@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "DM Sans", sans-serif;
}

.header {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(180deg, #90aea7 0%, #000 100%);
}
.header-left {
  flex: 1;
  height: 90vh;
  background: #000;
  overflow: hidden;
}
.header-rigth {
  flex: 5;
  height: 90vh;
  overflow: hidden;
}
.footer {
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  background: #181818;
  z-index: 200;
  overflow: hidden;
}

.logo {
  width: 90%;
  height: 10%;
}
.header-left > p {
  font-size: 14;
  font-weight: 700;
  opacity: 0.699999988079071;
  width: 20%;
  background: #000;
}
.home-bg {
  border-radius: 5px;
  background-color: #282828;
}
.home-bg > img,
.home-bg > p {
  background-color: transparent;
}
.opacity {
  opacity: 0.699999988079071;
}
.playlist-h {
  font-size: 14px;
  font-weight: 700;
}

.left-img {
  margin-right: 3vw;
  margin-top: 5vh;
  width: 15vw;
  height: 30vh;
  overflow: hidden;
}
.rigth-up{
 height: 30vh;
 margin-top: 7vh;
}
.right-mid-bg{
  width: 100%;
 height: 10vh;
 background-color: rgb(44, 44, 44);
}
  
.rigth-down{
    width: 100%;
  height: 30vh;
  overflow: hidden;
}
.photo {
  width: 18vw;
  height: 100%;
}
.text{
  height: 80%;
  margin-top: 4vh;
}
.text-1 {
  font-size: 13px;
  font-weight: 500;
}
.text-2 {
  font-size: 70px;
  font-weight: 900;
}
.text-3 {
  opacity: 0.699999988079071;
  font-size: 14px;
  font-weight: 400;
}
.text-4 {
  font-size: 15px;
  font-weight: 700;
}
.text-5{
  opacity: 0.699999988079071;
  font-size: 15px;
  font-weight: 400;
}

.rigth-mid-1 {
  width: 100%;
  background-color: transparent;
}
.rigth-mid-2 {
  opacity: 0.699999988079071;
  font-size: 12px;
  font-weight: 400;
}
.mid-2-txt-1 {
  margin: 0%;
  margin-left: 30vw;
}
.mid-2-txt {
  margin: 0%;
  margin-left: 22vw;
}
.v-line{
  border-top: 2px dotted #282828;;
  width: 100%;
  padding-top: 10px;
}
.bg{
  background-image: linear-gradient(to bottom ,rgb(44,53,51),rgb(12,15,14));
}
.card-bg-1 {
  border-radius: 5px;
  
  background-color: #282828;
}
.card-col{
  background-color: #000;
}

.sect-1-txt {
  font-size: 15px;
  font-weight: 600;
}
.sect-1-txt {
  font-size: 13px;
  font-weight: 400;
}
.sect-2 {
  font-size: 14px;
  font-weight: 400;
}
.sect-3 {
  font-family: Noto Sans CJK KR;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.699999988079071;
}

.f-left-txt {
  font-size: 15px;
  font-weight: 400;
}
.f-left-txt-2 {
  font-size: 12px;
  font-weight: 400;
}
.bar-1 {
  width: 40vw;
  height: 5px;
  border-radius: 2.273px;
  background: #b3b3b3;
}
.bar-2 {
  width: 8vw;
  height: 5px;
  border-radius: 2.273px;
  background: #b3b3b3;
}
