@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "DM Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;

  background: #000;
}
.header {
  width: 100%;
  height: 92%;
  font-size: 18px;
  font-weight: 700;
}
.logo {
  width: 80%;
  height: 10%;
}
.header-left {
  width: 17%;
  height: 100%;
  background-color: #000;
  font-size: 18px;
  font-weight: 700;
}
.home-bg {
  background-color: #282828;
}
.home-bg > img,
.home-bg > p {
  background-color: transparent;
}

.header-rigth {
  width: 83%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 0) 100%
  );
}
.nav-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #131313;
}
.hover-txt {
  opacity: 0;
}
.hove {
  transition: all 0.1s ease;
  text-decoration: none;
}
.hover-txt {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(
    135deg,
    #4000f4 0%,
    #603aed 22.48%,
    #7c6ee6 46.93%,
    #979fe1 65.71%,
    #a2b3de 77.68%,
    #adc8dc 88.93%,
    #c0ecd7 100%
  );
  opacity: 0;
}

.hove:hover .hover-txt {
  opacity: 1;
}
.nav-right {
  border-radius: 33px;
  background: #0a0a0a;
}
.nav-artist {
  background-color: transparent;
  border-radius: 37px;
}
.main-heading {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -1.14px;
}
.first-card {
  flex-wrap: wrap;
}
.cards-bg-1 {
  width: 350px;
  height: 90px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  background: #303030;
}
.mg-img {
  width: 30%;
  height: 100%;
}

.h2-left {
  font-size: 29px;
  font-weight: 700;
}
.h2-right {
  color: #b3b3b3;
  font-size: 17px;
  font-weight: 700;
}
.block-block {
  width: 70vw;
}
.artist-cards {
  background: #181818;
  width: 250px;
  border-radius: 14px;
}
.cards-mg-2 {
  border-radius: 20px;
  width: 250px;
  height: 200px;
  background: transparent;
}

.cd-title {
  font-size: 18px;
  font-weight: 500;
  align-self: baseline;
}
.cd-text {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 500;
  align-self: baseline;
}
.footer {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  background: #181818;
  z-index: 200;
}
.f-left-txt-1 {
  font-size: 17px;
  font-weight: 700;
}
.f-left-txt-2 {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 700;
}
.bar-1 {
  width: 28vw;
  height: 4px;
  border-radius: 2px;
}
.bar-2 {
  width: 8vw;
  height: 4px;
  border-radius: 2.5px;
  background: #b3b3b3;
}
.rigth-mid-2 {
  opacity: 0.10000000149011612;
}

@media screen and (max-width: 1360px) and (min-width: 991px) {
  .header {
    width: 100%;
    height: 90%;
  }
  .header-left {
    width: 25%;
    height: 100%;
    background: #000;
  }
  .header-rigth {
    width: 75%;
    height: 100%;
  }
  .footer {
    width: 100%;
    height: 10%;
  }
  .first-card {
    flex-wrap: wrap;
  }
  .artist-cards {
    margin: 20px auto !important;
  }
  .artist-block {
    flex-wrap: wrap;
  }
  .nav {
    margin-inline: 100px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 767px) {
  .header {
    width: 100%;
    height: 90%;
  }
  .header-left {
    width: 30%;
    height: 100%;
    background: #000;
  }
  .header-rigth {
    width: 70%;
    height: 100%;
  }
  .footer {
    width: 100%;
    height: 10%;
  }
  .first-card {
    flex-wrap: wrap;
  }
  .artist-cards {
    margin: 20px auto !important;
  }
  .artist-block {
    flex-wrap: wrap;
  }
  .nav {
    margin-inline: 100px !important;
  }
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    height: 90%;
  }
  .header-left {
    background: #000;
    width: 35%;
    height: 100%;
  }
  .header-rigth {
    width: 65%;
    height: 100%;
  }
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
  }
  .artist-cards {
    margin: 20px auto !important;
  }
  .artist-block {
    padding: 20px;
    flex-wrap: wrap;
  }
}
